# ============================================================
# Terminal Terrestre — Variables de Entorno
# Copiar este archivo como .env y completar los valores
# ============================================================

# ----------------------------------------------------------
# Django
# ----------------------------------------------------------
SECRET_KEY=tu-clave-secreta-muy-larga-y-aleatoria-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# ----------------------------------------------------------
# Base de datos PostgreSQL
# ----------------------------------------------------------
DB_NAME=terminal_terrestre
DB_USER=postgres
DB_PASSWORD=tu_password_postgres
DB_HOST=localhost
DB_PORT=5432

# ----------------------------------------------------------
# Timezone
# ----------------------------------------------------------
TIME_ZONE=America/Guayaquil
